<p id="notice"><%= notice %></p>

  <h1>Comment:</h1>
    <p><%= @comment.body %></p>
  <h1>Post:</h1>
    <p><%= link_to @comment.post.title, post_path %></p>

  <% @comment.each do |comment| %>
    <p><%= @comment.body %></p>
     <h4>Reply</h4>
      <% comment.replies.each do |reply| %>
          <p><%= reply.body %></p>
      <% end %>
    <% end %>





<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
