<h1>Ivan the Terrible's Blog</h1>

<%= will_paginate @posts, previous_label: h("<"), next_label: h(">") %>

<section class="blog">
<% @posts.each do |post| %>
  <section class="post">
    <h2><%= link_to post.title, post %></h2>
    <div><%= post.body %></div>
    <%= link_to "Comments", post %>
<% end %>

    <div class="post_nav">
      <%= link_to 'Show', @post %> |
    </div>
  </section>
</section>
<br />

<%= link_to 'New Post', new_post_path %>
